* {
	box-sizing: border-box;
}

/* Section */
.landing {
	position: relative;
	background-image: url('../img/fischergourmet-mussels.jpg') !important;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 300px;
}

.landing-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	text-align: center;
	padding-top: 125px;
}

.landing h1 {
    font-size: 35px;
	padding: 2%;
    font-family: 'Courgette', cursive;
    line-height: 1.5em;
    border: 3px solid;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 40%;
    margin: auto;
    letter-spacing: 8px;
}

.landing img {
	width: 45%;
}

.landing p {
	font-size: 25px;
	padding: 0px 25px 35px;
	margin: 10px auto;
	width: 65%;
}

.landing a {
	color: #ffffff;
}

.fab, .fas {
	padding: 0 15px;
	font-size: 50px;
}

section.main-container {
    background-color: #ffffff;
    border: none;
    padding: 3em 5%;
    height: 100%;
    min-height: 600px;
}

.col-12 {
    width: 100%;
}

#text-main p {
    text-align: left;
}

/* About Me */

.services-header {
  text-align: center;
  color: #000000;
  background-color: #ece4f1
}

.services-header h2 {
  font-size: 26px;
  padding-top: 30px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#services {
  background-color: #ece4f1;
  border: none;
  padding: 0 5%;
  justify-content: center;
  display: flex;
}

#services .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  margin: 10%;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 15px;
  color: #000000;
}

.card-body h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.card-text {
    text-align: center;
}

.row {
  clear: both;
  max-width: 1040px;
  margin: 0 auto;
}

.btn-group {
  margin: 30px 0;
}

.btn {
  color: #ffffff;
    border-color: #025b52;
    font-weight: 700;
    font-size: 18px;
    background-color: #025b52;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
}

.btn:hover {
  background-color: #0c665c;
  border-color: #0c665c;
}

.personalized-info {
  text-align: left;
}

.personalized {
  margin: 30px 0;
  text-align: left;
}

.col-7 {
	width: 55%;
	height: 300px;
	background-color: #ffffff;
	float: left;
  margin: 0 3% 0 0;
  list-style: none;
  position: relative;
}

#text-main {
	color: #000000;
	text-align: center;
	font-size: 24px;
}

#text-main h2 {
	font-size: 26px;
  font-family: 'Montserrat', sans-serif;
}

/* #text-main p {
	font-size: 15px;
	line-height: 1.7em;
  text-align: left;
} */

.col-5 {
	width: 40%;
	height: 300px;
	background-color: #ffffff;
	float: left;
  list-style: none;
  position: relative;
}

.col-6 {
  width: 50%;
  text-align: center;
}

#img-main img {
    width: 95%;
    display: block;
    margin: auto;
}

/* Footer */
footer {
	display: block;
  min-height: 200px;
}

#footer {
    width: 100%;
    background-color: #171717;
    position: relative;
}

.back-to-top-link {
    display: block;
    z-index: 100;
    background-color: #fff;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: -25px;
    padding-top: 2px;
}

.back-to-top-link a {
    display: block;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #363636;
    padding-left: 2px;
    padding-top: 20px;
    text-decoration: none;
}

.back-to-top-link a .arrow {
    display: block;
    text-align: center;
    width: 16px;
    margin: 0 auto 4px;
}

footer a {
  color: #ffffff;
}

.mast {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    padding-top: 3%;
}

.fab, .fas {
    font-size: 35px;
}

span {
    font-size: 20px;
    font-weight: 800;
}

.span {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
section.main-container {
    min-height: 790px;
 }
}

@media screen and (max-width: 650px) {
#logo {
 	width: 70%;
 	background-size: 250px 70px;
}

.landing {
	height: 300px;
	overflow: auto;
}

.landing-inner {
	height: 100%;
}

.landing span.title {
	font-size: 40px;
	width: 60%;
}

.landing img {
	width: 80%;
}

.landing h1 {
	font-size: 25px;
}

.landing p {
	width: 85%;
	font-size: 16px;
}

section.main-container {
  min-height: 1250px;
  padding-top: 2em;
}

section.main-container.main-personalized {
  min-height: 1300px;
}

.col-7 {
  width: 100%;
  height: 800px;
}

.col-7.menu {
    height: 600px;
}

.col-5 {
  width: 100%;
}

#img-main img {
    width: 70%;
    display: flex;
    margin: 10px auto;
}

.col-6 {
  width: 100%;
}

.footer-content {
    padding-top: 7%;
 }
}

@media screen and (max-width: 425px) {
#logo {
 	width: 70%;
 	background-size: 225px 50px;
}

#main {
	width: 100%;
}

.landing {
	height: 250px;
	overflow: auto;
}

.landing-inner {
  height: inherit;
  padding-top: 100px;
}

.landing h1 {
	font-size: 20px;
	margin-top: 40px;
}

.fab, .fas {
	font-size: 30px;
 }
}

@media screen and (max-width: 375px) {
#logo {
 	width: 70%;
 	background-size: 200px 50px;
}

.landing {
    height: 250px;
}

section.main-container {
    min-height: 1230px !important;
}

.col-7 {
    height: 850px;
}

.fab, .fas {
	font-size: 25px;
  }
}

@media screen and (max-width: 325px) {
section.main-container {
    min-height: 1300px !important;
}

.col-7 {
    height: 940px;
 }
}


/**
 * ----------------------------------------
 * animation bounce
 * ----------------------------------------
 */

.bounce-top:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

